@model SalsesProject.Models.LogInModel




<div class="col">
    <div class="col-md-6">
        <form asp-action="Login" class="center">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div>
                <h1>Log In</h1>
            </div>
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PassWord" class="control-label"></label>
                <input asp-for="PassWord" class="form-control" />
                <span asp-validation-for="PassWord" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Log In " class="btn btn-primary" />
                <a asp-action="SignUp" class="btn btn-primary ml-2">Sign Up</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
