<div class="container mt-4" data-bind="with: currentInfoHistory">
    <h2 style="text-align: center;">Item History</h2>

    <div class="col-md-3">
        <input type="text" class="form-control" placeholder="Search history..." data-bind="value: searchTerm, valueUpdate: 'input'">
    </div>
    <table class="table table-striped mt-4">
        <thead>
            <tr>
                <th>S.N</th>
                <th>ItemName</th>
                <th>Quantity</th>
                <th>Transaction Date</th>
                <th>Stock CheckOut</th>
                <th>Transaction Type</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: pagedHistoryList">
            <tr>
                <td data-bind="text: $parent.currentPageStartIndex() + $index() + 1"></td>
                <td data-bind="text: itemName"></td>
                <td data-bind="text: quentity"></td>
                <td data-bind="text: transDateFormatted"></td>
                <td data-bind="text: stockInOutText"></td>
                <td data-bind="text: transactionTypeText"></td>
            </tr>
        </tbody>
    </table>
    <!-- Pagination Model -->
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li class="page-item" data-bind="css: { disabled: currentPage() === 1 }">
                <a class="page-link" href="#" data-bind="click: previousPage">Previous</a>
            </li>
            <li class="page-item disabled">
                <span class="page-link" data-bind="text: currentPage() + ' of ' + totalPages()"></span>
            </li>
            <li class="page-item" data-bind="css: { disabled: currentPage() === totalPages() }">
                <a class="page-link" href="#" data-bind="click: nextPage">Next</a>
            </li>
        </ul>
    </nav>
</div>

@section Scripts {
    <script src="~/js/knockout.js"></script>
    <script src="~/js/currentinformationhistory/currentinfohistorymodel.js"></script>
    <script src="~/js/currentinformationhistory/currentinfohistorycontroller.js"></script>
    <script>
        $(document).ready(function () {
            var viewModel = {
                currentInfoHistory: new CurrentInfoHistory()
            };
            ko.applyBindings(viewModel);
        });
    </script>
}