<div class="container mt-4">
    <h1 class="text-center">Item Details</h1>
    <button type="button" class="btn btn-primary" data-bind="click: setCreateMode">
        Add New Items
    </button>

    <div class="modal fade" id="itemModal" tabindex="-1" aria-labelledby="itemModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="itemModalLabel">
                        <span data-bind="ifnot: IsUpdate">Add New Item</span>
                        <span data-bind="if: IsUpdate">Update Item</span>
                    </h5>
                    <button type="button" class="btn-close" data-bind="click: CloseModel"></button>
                </div>
                <div class="modal-body">
                    <form data-bind="with: NewItem">
                        <div class="form-group">
                            <label for="itemName">Item Name:</label>
                            <input type="text" class="form-control" id="itemName" placeholder="Enter item name" data-bind="value: itemName, valueUpdate: 'afterkeydown'" />
                        </div>
                        <div class="form-group">
                            <label for="unit">Unit:</label>
                            <input type="text" class="form-control" id="unit" placeholder="Enter item unit" data-bind="value: unit, valueUpdate: 'afterkeydown'" />
                        </div>
                        <div class="form-group">
                            <label for="category">Category:</label>
                            <select class="form-control" id="category" data-bind="options: $parent.CategoryNameList,
                                       optionsText: 'name',
                                       optionsValue: 'id',
                                       value: category,
                                       optionsCaption: 'Choose category'">
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" data-bind="click: AddItem, text: IsUpdate() ? 'Update' : 'Create'"></button>
                    <button class="btn btn-secondary" data-bind="click: CloseModel">Close</button>
                </div>
            </div>
        </div>
    </div>

    <table class="table table-striped mt-4">
        <thead>
            <tr>
                <th>S.N</th>
                <th>Name</th>
                <th>Unit</th>
                <th>Category</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: ItemList">
            <tr>
                <td data-bind="text: $index() + 1"></td>
                <td data-bind="text: itemName"></td>
                <td data-bind="text: unit"></td>
                <td data-bind="text: categoryName"></td>
                <td>
                    <button data-bind="click: $parent.selectItem" class="btn btn-sm btn-dark">Edit</button>
                    <button data-bind="click: $parent.Deleteitem" class="btn btn-sm btn-danger">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

@section Scripts {
    <script src="~/js/knockout.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout-validation/2.0.4/knockout.validation.min.js"></script>
    <script src="~/js/item/itemmodel.js"></script>
    <script src="~/js/item/itemcontroller.js"></script>
    <script>
        $(document).ready(function () {
            var viewModel = new itemController();
            ko.applyBindings(viewModel);
        });
    </script>
}